<div class ="answer-container">
<h1>Stupid Coaching</h1>

<div class="your-answer">
<%= @question %>
<p>- You</p>
</div>

<div class="coach-answer">
<%= @answer %>
<p>- Your coach</p>
</div>

<%= link_to "Ask a new question", '/ask'%>
</div>
